html {
  scroll-behavior: smooth;
}

main {
  font-family: Nunito;
  font-size: 15px;

  padding: 2rem;
  border-radius: 1%;
}

body {
  font-family: Nunito;
  background-color: #f8fafd;
  padding: 2rem;
  font-size: 1rem;
}
a:link {
  color: #00050c;
  font-style: normal;
}

a:visited {
  color: #697e9b;
  font-style: normal;
}

a:hover {
  background-color: #c9c9c9;
  font-style: italic;
}

a:active {
}

.title {
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 240px;
  padding-right: 240px;
}

.title_2 {
  text-align: center;
  padding-bottom: 8px;
}

.list {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 30px;
}

.texto {
  color: #00050c;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 20%;
  padding-right: 20%;
}

.images {
  margin: auto;
  display: block;
  width: 300px;
  border: 500px;
  border: #00173a;
}

.maniac {
  background-color: aquamarine;
}

.menu_button {
  font-size: 0.9rem;
}
